$main-color: #cc0000 !default;

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f3f3f3;
  h2 {
    padding: 10px;
    font-size: 1.5rem;
  }
  .actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-top: 30px;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 100px;
      padding: 15px 30px;
      border-radius: 5px;
      background: -webkit-linear-gradient(
        top,
        $main-color 0%,
        darken($main-color, 10) 100%
      );
      color: rgba(255, 255, 255, 0.7);
      font-family: sans-serif;
      text-decoration: none;
      text-shadow: 0 -1px 0 darken($main-color, 15);
      border: 2px solid black;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7),
        /* drop-shadow 1*/ 0 2px 2px rgba(0, 0, 0, 0.7),
        /* drop-shadow 2*/ 0 0 8px rgba(255, 255, 255, 0.1),
        /* rim-light*/ 0 -1px 0 rgba(0, 0, 0, 0.7),
        /* rim-shadow*/ inset 0 3px 1px lighten($main-color, 15),
        /* edge color*/ inset 0 9px 1px -5px rgba(255, 255, 255, 0.8); /* edge-highlight*/
      &:hover {
        background: -webkit-radial-gradient(
          50% 65%,
          ellipse closest-corner,
          saturate(lighten($main-color, 5), 10) 0%,
          $main-color 80%,
          darken($main-color, 5) 100%
        );
        box-shadow: 0 0 50px
            hsla(hue($main-color), 100, lightness($main-color) + 20, 0.6),
          /* glow color */ 0 2px 6px rgba(0, 0, 0, 0.7),
          /* drop-shadow 1*/ 0 2px 2px rgba(0, 0, 0, 0.7),
          /* drop-shadow 2*/ 0 0 8px rgba(255, 255, 255, 0.1),
          /* rim-light*/ 0 -1px 0 rgba(0, 0, 0, 0.7),
          /* rim-shadow*/ inset 0 3px 1px lighten($main-color, 8),
          /* edge color*/ inset 0 9px 1px -5px rgba(255, 255, 255, 0.6),
          /* edge-highlight 1*/ inset 0 6px 3px 1px darken($main-color, 10); /* inner color*/
      }
      &:active {
        background: -webkit-radial-gradient(
          center,
          ellipse cover,
          saturate(lighten($main-color, 5), 10) 0%,
          $main-color 80%,
          darken($main-color, 5) 100%
        );
        box-shadow: 0 0 20px
            hsla(hue($main-color), 100, lightness($main-color) + 20, 0.4),
          /* glow color */ 0 0 2px rgba(0, 0, 0, 0.7),
          /* drop-shadow 2*/ 0 0 8px rgba(255, 255, 255, 0.1),
          /* rim-light*/ 0 -1px 0 rgba(0, 0, 0, 0.7),
          /* rim-shadow*/ inset 0 1px 0 rgba(255, 255, 255, 0.4); /* edge-highlight 1*/
      }
    }
  }
  ul {
    width: 30%;
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      box-sizing: border-box;
      line-height: 45px;
      margin: 20px 0;
      font-size: 22px;
      text-align: center;
      width: 100%;
      color: #555;
      cursor: pointer;
      height: 45px;
      border-color: #f2f2f2;
      border-style: solid;
      text-shadow: 0 0.5px 1px #777, 0 2px 6px #f2f2f2;
      border-width: 1px;
      border-radius: 10px;
      background: -webkit-linear-gradient(
        top,
        #f9f9f9 0%,
        #d2d2d2 80%,
        #c0c0c0 100%
      );
      font-family: sans-serif;
      transition: box-shadow 0.3s ease, transform 0.15s ease;
      box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 6px 0 #c0c0c0,
        0 8px 17px rgba(#444, 0.4), 2px 1px 4px rgba(#444, 0.25),
        -2px 1px 4px rgba(#444, 0.25), 0 9px 16px rgba(#444, 0.1);

      &:hover,
      &:focus {
        box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 4px 0 #c0c0c0,
          0 2px 35px rgba(#444, 0.3), 2px 2px 4px rgba(#444, 0.25),
          -2px 2px 4px rgba(#444, 0.25), 0 7px 4px rgba(#444, 0.1);
        transform: translateY(2px);
      }

      &:active {
        box-shadow: 0 0 1px #888, 0 1px 0 #fff, 0 0 0 #c0c0c0,
          0 0px 30px rgba(#444, 0.15), 2px 2px 4px rgba(#444, 0.25),
          -2px 2px 4px rgba(#444, 0.25), 0 0px 4px rgba(#444, 0.25);
        transform: translateY(4px);
      }
    }
    a {
      text-decoration: none;
      color: #6f6f6f;
      &:visited {
        color: #6f6f6f;
      }
      &:hover {
        color: black;
      }
    }
  }
}
